<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>株式会社ソフトユージング新人教育管理サイト</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/function.js"></script>
</head>

<body>

    <div class="select-form-container">

        <h1>株式会社ソフトユージング<br>新人教育管理サイト</h1>

        <div class="round-border menu-container">
            <h2>メニュー</h2>
            <form class="select-form">
                <button formaction="new-member">1.新規メンバー</button>
                <button formaction="member-management">2.メンバー管理</button>
                <button formaction="new-record">3.新規成績</button>
                <button formaction="record-management">4.成績管理</button>
            </form>
        </div>
    </div>

    <div id="footer">
        <script>loadFooter();</script>
    </div>

</body>
</html>