<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>member-management</title>
    <link rel="stylesheet" th:href="@{/css/member_management.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/function.js"></script>
</head>
<body>

    <div class="member-management-container">


        <div class="input-form-container">

            <div class="form-container">
                <h1>メンバー管理</h1>
                <form class="input-form" th:action="@{add-new-member}" method="post" th:object="${memberForm}" >
                    <table class="input-table">
                        <tr>
                            <td>
                                名前    
                            </td>
                            <td colspan="3">
                                <input type="text" name="name" size="12">
                            </td>
                            <td rowspan="2">
                                <button type="button">検索</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                年齢
                            </td>
                            <td>
                                <input type="text" name="age" size="2">
                            </td>
                            <td style="text-align: right;">
                                性別
                            </td>
                            <td>
                                <select name="sex">
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="result-form">
        
                    <h2 class="error-table-title" th:if="${validationError}">
                        入力に間違いがあります
                    </h2>
        
                    <h2 class="info-table-title" th:if="${insertResult}" style="font-size: 30px;">
                        新規メンバーが登録されました!
                    </h2>
        
                    <table align="center">
                        <tr th:if="${validationError}" th:each="error:${validationError}">
                            <td class="error-table-td">[[${error}]]</td>
                        </tr>
                        <tr th:if="${insertResult}" th:each="info:${insertResult}">
                            <td class="info-table-td">[[${info.key}]]</td>
                            <td style="width: 16px;"></td>
                            <td class="info-table-td">[[${info.value}]]</td>
                        </tr>
                    </table>
                </div>
            </div>
    
        </div>





















    </div>
    
    <div id="footer">
        <script>loadFooter();</script>
    </div>
</body>
