<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>member-management</title>
    <link rel="stylesheet" th:href="@{/css/member_management.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/function.js"></script>
</head>
<body>
    <div class="member-management-container">
        <div class="form-container">
            <div class="search-input-form-container">
                <h1>メンバー管理</h1>
                <form class="search-input-form" th:action="@{search-member}" method="post" th:object="${searchMemberForm}" >
                    <table class="search-input-table">
                        <tr>
                            <td>
                                名前
                            </td>
                            <td style="width: 24px">
                                <input type="text" name="name" size="12">
                            </td>
                            <td>
                                年齢
                            </td>
                            <td>
                                <input type="text" name="age" size="4">
                            </td>
                            <td>
                                性別
                            </td>
                            <td>
                                <select name="sex">
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </td>
                            <td align="center" style="width: 100px">
                                <button style="font-size: 1 5px">検索</button>
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="search-result-form">
                    <table align="center">
                        <tr>
                            <th>名前</th>
                            <th>年齢</th>
                            <th>性別</th>
                            <th style="width: 80px">電話番号</th>
                            <th style="width: 200px">住所</th>
                            <th style="width: 56px">操作</th>
                        </tr>
                        <tr th:if="${search_result_list}" th:each="result_member:${search_result_list}">
                            <td>[[${result_member.name}]]</td>
                            <td>[[${result_member.age}]]</td>
                            <td>[[${result_member.sex}]]</td>
                            <td>[[${result_member.phone}]]</td>
                            <td style="text-align: left; padding-left: 4px;">[[${result_member.address}]]</td>
                            <td>
                                <button>変更</button>
                            </td>     
                        </tr>
                    </table>
                </div>      
            </div>
            <div class="update-input-form"> 
                <form th:action="@{update-member}" method="post" th:object="${updateMemberForm}">
                    <table class="update-input-table">
                        <tr>
                            <td>
                                名前    
                            </td>
                            <td colspan="3">
                                <input type="text" name="name" size="12">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                年齢
                            </td>
                            <td>
                                <input type="text" name="age" size="2">
                            </td>
                            <td style="width: 80px; text-align: right;">
                                性別
                            </td>
                            <td>
                                <select name="sex">
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                住所
                            </td>
                            <td colspan="3">
                                <input type="text" name="address" size="20">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                携帯番号
                            </td>
                            <td colspan="3">
                                <input type="text" name="phone" size="20">
                            </td>
                        </tr>
                        <tr id="button-tr">
                            <td colspan="2">
                                <div class="button-div">
                                    <button type="button" onclick="location.href='index'">
                                        メニュー画面に戻る
                                    </button>
                                </div>
                            </td>   
                            <td colspan="2">
                                <div class="button-div">
                                    <button>更新する</button>
                                </div>
                            </td>
                        </tr>
                    </table>              
                </form>
            </div>
            <div class="result-form">
                <h2 class="error-table-title" th:if="${validationError}">
                    入力に間違いがあります
                </h2>
    
                <h2 class="info-table-title" th:if="${insertResult}" style="font-size: 30px;">
                    新規メンバーが登録されました!
                </h2>
    
                <table align="center">
                    <tr th:if="${validationError}" th:each="error:${validationError}">
                        <td class="error-table-td">[[${error}]]</td>
                    </tr>
                    <tr th:if="${insertResult}" th:each="info:${insertResult}">
                        <td class="info-table-td">[[${info.key}]]</td>
                        <td style="width: 16px;"></td>
                        <td class="info-table-td">[[${info.value}]]</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="footer">
        <script>loadFooter();</script>
    </div>
</body>
